In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("GTD_ForModel_v1.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90365 entries, 0 to 90364
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   extended     90365 non-null  int64
 1   country      90365 non-null  int64
 2   region       90365 non-null  int64
 3   latitude     90365 non-null  float64
 4   longitude    90365 non-null  float64
 5   success      90365 non-null  int64
 6   suicide      90365 non-null  int64
 7   multiple     90365 non-null  int64
 8   attacktype1  90365 non-null  int64
 9   targtype1    90365 non-null  int64
 10  natlty1      90365 non-null  int64
 11  nperps       90365 non-null  int64
 12  claimed      90365 non-null  int64
 13  claimmode    90365 non-null  int64
 14  weaptype1    90365 non-null  int64
 15  nkill        90365 non-null  int64
 16  nkillus      90365 non-null  int64
 17  nwound       90365 non-null  int64
 18  property     90365 non-null  int64
 19  nyear        90365 non-null  int64
 20  groupid      90365 non-null  int64
dtypes: float64(2), int64(19)
memory usage: 14.5 MB

In [12]:
#data.drop(['multiple','natlty1','nkillus','nwound','property'],axis=1,inplace=True)
data.info()
value_count = data['nkill'].value_counts()
print(value_count)
def getcount(x):
    return int(x)==0

data.drop(data[data['nkill'].apply(func=getcount)].index,inplace=True)
data['nkill'].value_counts()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90365 entries, 0 to 90364
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   extended     90365 non-null  int64
 1   country      90365 non-null  int64
 2   region       90365 non-null  int64
 3   latitude     90365 non-null  float64
 4   longitude    90365 non-null  float64
 5   success      90365 non-null  int64
 6   suicide      90365 non-null  int64
 7   attacktype1  90365 non-null  int64
 8   targtype1    90365 non-null  int64
 9   nperps       90365 non-null  int64
 10  claimed      90365 non-null  int64
 11  claimmode    90365 non-null  int64
 12  weaptype1    90365 non-null  int64
 13  nkill        90365 non-null  int64
 14  nyear        90365 non-null  int64
 15  groupid      90365 non-null  int64
dtypes: float64(2), int64(14)
memory usage: 11.0 MB
0      44117
1      21241
2       8542
3       4486
4       2785
       ...
670        1
287        1
96         1
160        1
284        1
Name: nkill, Length: 143, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 46248 entries, 1 to 90361
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   extended     46248 non-null  int64
 1   country      46248 non-null  int64
 2   region       46248 non-null  int64
 3   latitude     46248 non-null  float64
 4   longitude    46248 non-null  float64
 5   success      46248 non-null  int64
 6   suicide      46248 non-null  int64
 7   attacktype1  46248 non-null  int64
 8   targtype1    46248 non-null  int64
 9   nperps       46248 non-null  int64
 10  claimed      46248 non-null  int64
 11  claimmode    46248 non-null  int64
 12  weaptype1    46248 non-null  int64
 13  nkill        46248 non-null  int64
 14  nyear        46248 non-null  int64
 15  groupid      46248 non-null  int64
dtypes: float64(2), int64(14)
memory usage: 6.0 MB

In [4]:
from sklearn.model_selection import train_test_split
def get_train_test_data(data,y_name,test_size):
    all_x = data.drop([y_name],axis=1)
    all_y = data[y_name]
    train_X,test_X,train_Y,test_Y = train_test_split(all_x,all_y,random_state=1,test_size=test_size)
    return train_X,train_Y,test_X,test_Y

In [13]:
train_X,train_Y,test_X,test_Y = get_train_test_data(data,'nkill',0.2)

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn import model_selection
from sklearn.metrics import r2_score

In [14]:
model_rdf = RandomForestRegressor(n_estimators=500,max_depth=20,
                                  n_jobs=15,verbose=0)
model_rdf.fit(train_X,train_Y)
predicts = model_rdf.predict(test_X)
R2 = r2_score(test_Y,predicts)
print('R2:',R2)
feature_imp_sorted_rf = pd.DataFrame({'feature':list(train_X),
                                        'importance':model_rdf.feature_importances_}).sort_values('importance',ascending=False)
feature_imp_sorted_rf.head(10)

R2: -0.03273637777614136

        feature  importance
4     longitude    0.189754
3      latitude    0.188789
9        nperps    0.170897
12    weaptype1    0.099496
8     targtype1    0.074788
13        nyear    0.068750
14      groupid    0.055926
11    claimmode    0.032253
7   attacktype1    0.030747
1       country    0.024783

In [15]:
from sklearn.svm import SVR
model_svr = SVR()
model_svr.fit(train_X,train_Y)
predicts = model_rdf.predict(test_X)
R2 = r2_score(test_Y,predicts)
print('R2:',R2)

R2: -0.03273637777614136