In [1]:
import numpy as np
import pandas as pd

In [11]:
data = pd.read_csv("GTD_origion_v0.csv",error_bad_lines = False)
data = data[['eventid','iyear','imonth','iday','extended','country','country_txt','region',
             'region_txt','city','latitude','longitude','success','suicide','doubtterr','multiple',
             'attacktype1','attacktype1_txt','targtype1','targtype1_txt','target1','natlty1','natlty1_txt',
             'gname','nperps','claimed','claimmode','claimmode_txt','weaptype1','weaptype1_txt',
             'nkill','nkillus','nwound','property','related']]
data.to_csv("GTD_origon_v1.csv")

b'Skipping line 47098: expected 135 fields, saw 137\n'
b'Skipping line 68154: expected 135 fields, saw 138\nSkipping line 68155: expected 135 fields, saw 138\nSkipping line 68829: expected 135 fields, saw 138\nSkipping line 68872: expected 135 fields, saw 138\nSkipping line 68875: expected 135 fields, saw 137\nSkipping line 68876: expected 135 fields, saw 137\nSkipping line 68895: expected 135 fields, saw 137\n'
b'Skipping line 70085: expected 135 fields, saw 244\nSkipping line 71026: expected 135 fields, saw 143\nSkipping line 71291: expected 135 fields, saw 250\nSkipping line 71296: expected 135 fields, saw 248\nSkipping line 72518: expected 135 fields, saw 139\nSkipping line 72536: expected 135 fields, saw 248\nSkipping line 72547: expected 135 fields, saw 245\n'
b'Skipping line 74920: expected 135 fields, saw 247\nSkipping line 76240: expected 135 fields, saw 248\nSkipping line 76356: expected 135 fields, saw 138\nSkipping line 77304: expected 135 fields, saw 137\nSkipping line 77307: expected 135 fields, saw 137\nSkipping line 77326: expected 135 fields, saw 137\nSkipping line 77623: expected 135 fields, saw 154\nSkipping line 77632: expected 135 fields, saw 353\nSkipping line 77637: expected 135 fields, saw 246\nSkipping line 77642: expected 135 fields, saw 245\nSkipping line 77644: expected 135 fields, saw 355\nSkipping line 77645: expected 135 fields, saw 247\nSkipping line 77649: expected 135 fields, saw 464\nSkipping line 77653: expected 135 fields, saw 466\nSkipping line 77656: expected 135 fields, saw 356\nSkipping line 77661: expected 135 fields, saw 354\nSkipping line 77664: expected 135 fields, saw 244\nSkipping line 77667: expected 135 fields, saw 245\nSkipping line 77672: expected 135 fields, saw 357\nSkipping line 77673: expected 135 fields, saw 136\nSkipping line 77674: expected 135 fields, saw 136\nSkipping line 77675: expected 135 fields, saw 245\nSkipping line 77677: expected 135 fields, saw 687\nSkipping line 77678: expected 135 fields, saw 791\nSkipping line 77679: expected 135 fields, saw 697\nSkipping line 77680: expected 135 fields, saw 245\nSkipping line 77682: expected 135 fields, saw 136\nSkipping line 77687: expected 135 fields, saw 245\nSkipping line 77690: expected 135 fields, saw 245\nSkipping line 77691: expected 135 fields, saw 136\nSkipping line 77692: expected 135 fields, saw 245\nSkipping line 77694: expected 135 fields, saw 244\nSkipping line 77695: expected 135 fields, saw 355\nSkipping line 77696: expected 135 fields, saw 907\nSkipping line 77700: expected 135 fields, saw 313\nSkipping line 77703: expected 135 fields, saw 244\nSkipping line 77706: expected 135 fields, saw 249\nSkipping line 77707: expected 135 fields, saw 244\n'
b'Skipping line 81057: expected 135 fields, saw 137\nSkipping line 81702: expected 135 fields, saw 137\n'
b'Skipping line 83159: expected 135 fields, saw 246\nSkipping line 83245: expected 135 fields, saw 139\nSkipping line 83645: expected 135 fields, saw 136\nSkipping line 83669: expected 135 fields, saw 246\nSkipping line 83675: expected 135 fields, saw 245\nSkipping line 84293: expected 135 fields, saw 138\nSkipping line 85695: expected 135 fields, saw 137\n'
b'Skipping line 90480: expected 135 fields, saw 136\n'
b'Skipping line 96326: expected 135 fields, saw 139\n'
b'Skipping line 98570: expected 135 fields, saw 139\n'
b'Skipping line 103146: expected 135 fields, saw 139\nSkipping line 103162: expected 135 fields, saw 139\n'
D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4,6,16,19,20,21,22,23,25,26,27,28,30,31,33,34,36,42,44,48,50,52,56,61,62,63,65,66,67,68,69,70,71,72,74,75,76,77,78,79,80,85,87,89,90,91,92,93,94,95,99,101,102,103,104,105,107,109,110,111,112,113,114,115,119,120,121,122,124,131,132,133) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [2]:
# data = pd.read_csv("GTD_origon_v1.csv")

D:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (13,14,15,16,17,19,25,26,27,32,33,34) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [12]:
# 计算 doubtterr 字段各个取值的统计
# 只保留 doubtterr 为0的数据行
count9 = 0
count0 = 0
count1 = 0
for index in data.index:
    if pd.isnull(data.loc[index,'doubtterr']):
        continue
    try:
        if int(data.loc[index,'doubtterr']) == -9:
            count9+=1
            # data.drop(index,axis=0,inplace=True)
        elif int(data.loc[index,'doubtterr']) == 0:
            count0+=1
        elif int(data.loc[index,'doubtterr']) == 1:
            count1+=1
            # data.drop(index,axis=0,inplace=True)
    except ValueError:
        data.drop(index,axis=0,inplace=True)
print(count9)
print(count0)
print(count1)

13784
138757
28976

In [13]:
data.describe()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181535 entries, 0 to 181546
Data columns (total 35 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   eventid          181535 non-null  int64
 1   iyear            181535 non-null  int64
 2   imonth           181535 non-null  int64
 3   iday             181535 non-null  int64
 4   extended         181535 non-null  int64
 5   country          181535 non-null  int64
 6   country_txt      181535 non-null  object
 7   region           181535 non-null  int64
 8   region_txt       181535 non-null  object
 9   city             181101 non-null  object
 10  latitude         176983 non-null  float64
 11  longitude        176982 non-null  float64
 12  success          181530 non-null  object
 13  suicide          181528 non-null  object
 14  doubtterr        181520 non-null  object
 15  multiple         181529 non-null  object
 16  attacktype1      181528 non-null  object
 17  attacktype1_txt  181516 non-null  object
 18  targtype1        181521 non-null  object
 19  targtype1_txt    181521 non-null  object
 20  target1          180874 non-null  object
 21  natlty1          179945 non-null  object
 22  natlty1_txt      178233 non-null  object
 23  gname            179626 non-null  object
 24  nperps           110554 non-null  object
 25  claimed          114387 non-null  object
 26  claimmode        19056 non-null   object
 27  claimmode_txt    18856 non-null   object
 28  weaptype1        181518 non-null  object
 29  weaptype1_txt    181420 non-null  object
 30  nkill            170568 non-null  float64
 31  nkillus          117045 non-null  object
 32  nwound           164641 non-null  object
 33  property         180469 non-null  object
 34  related          24739 non-null   object
dtypes: float64(3), int64(7), object(25)
memory usage: 54.9+ MB

In [14]:
# 去掉经纬度缺失的数据
nullcount=0
for index in data.index:
    if pd.isnull(data.loc[index,'latitude']) or pd.isnull(data.loc[index,'longitude']):
        data.drop(index,axis=0,inplace=True)
        nullcount += 1
print(nullcount)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 176982 entries, 0 to 181546
Data columns (total 35 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   eventid          176982 non-null  int64
 1   iyear            176982 non-null  int64
 2   imonth           176982 non-null  int64
 3   iday             176982 non-null  int64
 4   extended         176982 non-null  int64
 5   country          176982 non-null  int64
 6   country_txt      176982 non-null  object
 7   region           176982 non-null  int64
 8   region_txt       176982 non-null  object
 9   city             176556 non-null  object
 10  latitude         176982 non-null  float64
 11  longitude        176982 non-null  float64
 12  success          176977 non-null  object
 13  suicide          176975 non-null  object
 14  doubtterr        176967 non-null  object
 15  multiple         176976 non-null  object
 16  attacktype1      176975 non-null  object
 17  attacktype1_txt  176963 non-null  object
 18  targtype1        176968 non-null  object
 19  targtype1_txt    176968 non-null  object
 20  target1          176360 non-null  object
 21  natlty1          175435 non-null  object
 22  natlty1_txt      173742 non-null  object
 23  gname            175093 non-null  object
 24  nperps           109510 non-null  object
 25  claimed          113443 non-null  object
 26  claimmode        18918 non-null   object
 27  claimmode_txt    18718 non-null   object
 28  weaptype1        176965 non-null  object
 29  weaptype1_txt    176869 non-null  object
 30  nkill            166565 non-null  float64
 31  nkillus          116024 non-null  object
 32  nwound           160746 non-null  object
 33  property         175932 non-null  object
 34  related          24160 non-null   object
dtypes: float64(3), int64(7), object(25)
memory usage: 53.6+ MB

In [16]:
# 删除串行的数据
nullcount=0
for index in data.index:
    if pd.isnull(data.loc[index,'natlty1']):
        continue
    try:
        num = int(data.loc[index,'natlty1'])
    except ValueError:
        data.drop(index,axis=0,inplace=True)
        nullcount += 1
        continue
        
print(nullcount)

nullcount=0
for index in data.index:
    if pd.isnull(data.loc[index,'weaptype1']):
        continue
    try:
        num = int(data.loc[index,'weaptype1'])
    except ValueError:
        data.drop(index,axis=0,inplace=True)
        nullcount += 1
        continue
        
print(nullcount)

1792
105

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175085 entries, 0 to 181546
Data columns (total 35 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   eventid          175085 non-null  int64
 1   iyear            175085 non-null  int64
 2   imonth           175085 non-null  int64
 3   iday             175085 non-null  int64
 4   extended         175085 non-null  int64
 5   country          175085 non-null  int64
 6   country_txt      175085 non-null  object
 7   region           175085 non-null  int64
 8   region_txt       175085 non-null  object
 9   city             174665 non-null  object
 10  latitude         175085 non-null  float64
 11  longitude        175085 non-null  float64
 12  success          175082 non-null  object
 13  suicide          175081 non-null  object
 14  doubtterr        175075 non-null  object
 15  multiple         175081 non-null  object
 16  attacktype1      175081 non-null  object
 17  attacktype1_txt  175077 non-null  object
 18  targtype1        175074 non-null  object
 19  targtype1_txt    175074 non-null  object
 20  target1          174482 non-null  object
 21  natlty1          173556 non-null  object
 22  natlty1_txt      173556 non-null  object
 23  gname            175052 non-null  object
 24  nperps           108334 non-null  object
 25  claimed          113225 non-null  object
 26  claimmode        18701 non-null   object
 27  claimmode_txt    18702 non-null   object
 28  weaptype1        175071 non-null  object
 29  weaptype1_txt    175073 non-null  object
 30  nkill            165346 non-null  float64
 31  nkillus          114823 non-null  object
 32  nwound           159530 non-null  object
 33  property         175064 non-null  object
 34  related          24160 non-null   object
dtypes: float64(3), int64(7), object(25)
memory usage: 53.1+ MB

In [18]:
# 删除nkill或者nwound为空的数据
# data.drop(data[pd.isnull(data['nkill']) or pd.isnull(data['nwound'])].index,axis=0,inplace=True)
data.dropna(subset=['nkill'],inplace=True)
data.dropna(subset=['nwound'],inplace=True)

In [19]:
values={'city':'Unknown','related':'-1','claimmode':'-1','claimmode_txt':'Non'}
data.fillna(value=values,inplace=True)
# data['city'].fillna('Unknown')
# data['related'].fillna('-1')

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158985 entries, 0 to 181546
Data columns (total 35 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   eventid          158985 non-null  int64
 1   iyear            158985 non-null  int64
 2   imonth           158985 non-null  int64
 3   iday             158985 non-null  int64
 4   extended         158985 non-null  int64
 5   country          158985 non-null  int64
 6   country_txt      158985 non-null  object
 7   region           158985 non-null  int64
 8   region_txt       158985 non-null  object
 9   city             158985 non-null  object
 10  latitude         158985 non-null  float64
 11  longitude        158985 non-null  float64
 12  success          158985 non-null  object
 13  suicide          158985 non-null  object
 14  doubtterr        158984 non-null  object
 15  multiple         158984 non-null  object
 16  attacktype1      158985 non-null  object
 17  attacktype1_txt  158985 non-null  object
 18  targtype1        158985 non-null  object
 19  targtype1_txt    158985 non-null  object
 20  target1          158441 non-null  object
 21  natlty1          157520 non-null  object
 22  natlty1_txt      157520 non-null  object
 23  gname            158965 non-null  object
 24  nperps           100451 non-null  object
 25  claimed          104841 non-null  object
 26  claimmode        158985 non-null  object
 27  claimmode_txt    158985 non-null  object
 28  weaptype1        158983 non-null  object
 29  weaptype1_txt    158983 non-null  object
 30  nkill            158985 non-null  float64
 31  nkillus          106532 non-null  object
 32  nwound           158985 non-null  object
 33  property         158979 non-null  object
 34  related          158985 non-null  object
dtypes: float64(3), int64(7), object(25)
memory usage: 43.7+ MB

In [21]:
data.dropna(subset=['nperps'],inplace=True)
data.dropna(subset=['claimed'],inplace=True)
data.dropna(subset=['nkillus'],inplace=True)

In [22]:
data.dropna(how='any',inplace=True)

In [23]:
data.drop(['doubtterr'],axis=1,inplace=True)

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92076 entries, 5 to 181546
Data columns (total 34 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   eventid          92076 non-null  int64
 1   iyear            92076 non-null  int64
 2   imonth           92076 non-null  int64
 3   iday             92076 non-null  int64
 4   extended         92076 non-null  int64
 5   country          92076 non-null  int64
 6   country_txt      92076 non-null  object
 7   region           92076 non-null  int64
 8   region_txt       92076 non-null  object
 9   city             92076 non-null  object
 10  latitude         92076 non-null  float64
 11  longitude        92076 non-null  float64
 12  success          92076 non-null  object
 13  suicide          92076 non-null  object
 14  multiple         92076 non-null  object
 15  attacktype1      92076 non-null  object
 16  attacktype1_txt  92076 non-null  object
 17  targtype1        92076 non-null  object
 18  targtype1_txt    92076 non-null  object
 19  target1          92076 non-null  object
 20  natlty1          92076 non-null  object
 21  natlty1_txt      92076 non-null  object
 22  gname            92076 non-null  object
 23  nperps           92076 non-null  object
 24  claimed          92076 non-null  object
 25  claimmode        92076 non-null  object
 26  claimmode_txt    92076 non-null  object
 27  weaptype1        92076 non-null  object
 28  weaptype1_txt    92076 non-null  object
 29  nkill            92076 non-null  float64
 30  nkillus          92076 non-null  object
 31  nwound           92076 non-null  object
 32  property         92076 non-null  object
 33  related          92076 non-null  object
dtypes: float64(3), int64(7), object(24)
memory usage: 24.6+ MB

In [14]:
# data = pd.read_csv("GTD_preprocessed.csv")
def toint (x):
    return int(x)
data.loc[data['nperps'].apply(toint)==-99,'nperps'] = '-1'
data.loc[data['property'].apply(toint)==-9,'property'] = '-1'
def tonyear(x):
    return int(x)-1970
data['nyear'] = data['iyear'].apply(tonyear)

In [15]:
data.head(5)

,eventid,iyear,imonth,iday,extended,country,country_txt,region,region_txt,city,...,claimmode,claimmode_txt,weaptype1,weaptype1_txt,nkill,nkillus,nwound,property,related,nyear
0,197001010002,1970,1,1,0,217,United States,1,North America,Cairo,...,-1.0,Non,5,Firearms,0.0,0.0,0.0,1,-1,0
1,197001020002,1970,1,2,0,217,United States,1,North America,Oakland,...,-1.0,Non,6,Explosives,0.0,0.0,0.0,1,-1,0
2,197001020003,1970,1,2,0,217,United States,1,North America,Madison,...,1.0,Letter,8,Incendiary,0.0,0.0,0.0,1,-1,0
3,197001030001,1970,1,3,0,217,United States,1,North America,Madison,...,-1.0,Non,8,Incendiary,0.0,0.0,0.0,1,-1,0
4,197001060001,1970,1,6,0,217,United States,1,North America,Denver,...,-1.0,Non,8,Incendiary,0.0,0.0,0.0,1,-1,0

In [3]:
data = pd.read_csv("GTD_preprocessed.csv")
def toint (x):
    return int(x)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92076 entries, 0 to 92075
Data columns (total 35 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   eventid          92076 non-null  int64
 1   iyear            92076 non-null  int64
 2   imonth           92076 non-null  int64
 3   iday             92076 non-null  int64
 4   extended         92076 non-null  int64
 5   country          92076 non-null  int64
 6   country_txt      92076 non-null  object
 7   region           92076 non-null  int64
 8   region_txt       92076 non-null  object
 9   city             92076 non-null  object
 10  latitude         92076 non-null  float64
 11  longitude        92076 non-null  float64
 12  success          92076 non-null  float64
 13  suicide          92076 non-null  float64
 14  multiple         92076 non-null  float64
 15  attacktype1      92076 non-null  float64
 16  attacktype1_txt  92076 non-null  object
 17  targtype1        92076 non-null  float64
 18  targtype1_txt    92076 non-null  object
 19  target1          92076 non-null  object
 20  natlty1          92076 non-null  int64
 21  natlty1_txt      92076 non-null  object
 22  gname            92076 non-null  object
 23  nperps           92076 non-null  float64
 24  claimed          92076 non-null  float64
 25  claimmode        92076 non-null  float64
 26  claimmode_txt    92076 non-null  object
 27  weaptype1        92076 non-null  int64
 28  weaptype1_txt    92076 non-null  object
 29  nkill            92076 non-null  float64
 30  nkillus          92076 non-null  float64
 31  nwound           92076 non-null  float64
 32  property         92076 non-null  float64
 33  related          92076 non-null  object
 34  nyear            92076 non-null  int64
dtypes: float64(14), int64(10), object(11)
memory usage: 24.6+ MB

In [5]:
data['success']=data['success'].apply(toint)
data['suicide']=data['suicide'].apply(toint)
data['multiple']=data['multiple'].apply(toint)
data['attacktype1']=data['attacktype1'].apply(toint)
data['targtype1']=data['targtype1'].apply(toint)
data['natlty1']=data['natlty1'].apply(toint)
data['nperps']=data['nperps'].apply(toint)
data['claimed']=data['claimed'].apply(toint)
data['claimmode']=data['claimmode'].apply(toint)
data['nkill']=data['nkill'].apply(toint)
data['nkillus']=data['nkillus'].apply(toint)
data['nwound']=data['nwound'].apply(toint)
data['property']=data['property'].apply(toint)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92076 entries, 0 to 92075
Data columns (total 35 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   eventid          92076 non-null  int64
 1   iyear            92076 non-null  int64
 2   imonth           92076 non-null  int64
 3   iday             92076 non-null  int64
 4   extended         92076 non-null  int64
 5   country          92076 non-null  int64
 6   country_txt      92076 non-null  object
 7   region           92076 non-null  int64
 8   region_txt       92076 non-null  object
 9   city             92076 non-null  object
 10  latitude         92076 non-null  float64
 11  longitude        92076 non-null  float64
 12  success          92076 non-null  int64
 13  suicide          92076 non-null  int64
 14  multiple         92076 non-null  int64
 15  attacktype1      92076 non-null  int64
 16  attacktype1_txt  92076 non-null  object
 17  targtype1        92076 non-null  int64
 18  targtype1_txt    92076 non-null  object
 19  target1          92076 non-null  object
 20  natlty1          92076 non-null  int64
 21  natlty1_txt      92076 non-null  object
 22  gname            92076 non-null  object
 23  nperps           92076 non-null  int64
 24  claimed          92076 non-null  int64
 25  claimmode        92076 non-null  int64
 26  claimmode_txt    92076 non-null  object
 27  weaptype1        92076 non-null  int64
 28  weaptype1_txt    92076 non-null  object
 29  nkill            92076 non-null  int64
 30  nkillus          92076 non-null  int64
 31  nwound           92076 non-null  int64
 32  property         92076 non-null  int64
 33  related          92076 non-null  object
 34  nyear            92076 non-null  int64
dtypes: float64(2), int64(22), object(11)
memory usage: 24.6+ MB

In [2]:
data.to_csv("GTD_preprocessed.csv",index=0)

NameError: name 'data' is not defined

In [3]:
data = pd.read_csv("GTD_preprocessed.csv")
def if_after_year(year,styear):
    return year>=styear
data = data[data['iyear'].apply(if_after_year,styear=2000)]

In [4]:
data['iyear'].value_counts()

2014    14555
2015    12983
2016    11982
2013    11084
2017     9613
2012     7894
2011     4865
2010     4709
2009     4448
2008     3986
2007      712
2001      701
2000      605
2002      555
2006      549
2005      533
2003      328
2004      263
Name: iyear, dtype: int64

In [6]:
data.to_csv("GTD_preprocessed_v1.csv",index=False)