In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("GTD_preprocessed_v1.csv")
print(data.head(5))
print(data.info())

        eventid  iyear  imonth  iday  extended  country    country_txt  \
0  200001010027   2000       1     1         0      217  United States
1  200001020002   2000       1     2         1        6        Algeria
2  200001030008   2000       1     3         0      217  United States
3  200001030010   2000       1     3         0      228          Yemen
4  200001040005   2000       1     4         1       45       Colombia

   region                  region_txt        city  ...  claimmode  \
0       1               North America      Mesick  ...         -1
1      10  Middle East & North Africa   El Omaria  ...         -1
2       1               North America  Cincinnati  ...         -1
3      10  Middle East & North Africa        Aden  ...         -1
4       3               South America      Bogota  ...         -1

   claimmode_txt  weaptype1  weaptype1_txt  nkill  nkillus nwound  property  \
0            Non          8     Incendiary      0        0      0         1
1            Non          9          Melee      5        0      0         1
2            Non          6     Explosives      0        0      0         0
3            Non          6     Explosives      0        0      0         0
4            Non          9          Melee      0        0      0         0

                      related nyear
0                          -1    30
1                          -1    30
2  200001030008, 200001030009    30
3                          -1    30
4                          -1    30

[5 rows x 35 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90365 entries, 0 to 90364
Data columns (total 35 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   eventid          90365 non-null  int64
 1   iyear            90365 non-null  int64
 2   imonth           90365 non-null  int64
 3   iday             90365 non-null  int64
 4   extended         90365 non-null  int64
 5   country          90365 non-null  int64
 6   country_txt      90365 non-null  object
 7   region           90365 non-null  int64
 8   region_txt       90365 non-null  object
 9   city             90365 non-null  object
 10  latitude         90365 non-null  float64
 11  longitude        90365 non-null  float64
 12  success          90365 non-null  int64
 13  suicide          90365 non-null  int64
 14  multiple         90365 non-null  int64
 15  attacktype1      90365 non-null  int64
 16  attacktype1_txt  90365 non-null  object
 17  targtype1        90365 non-null  int64
 18  targtype1_txt    90365 non-null  object
 19  target1          90365 non-null  object
 20  natlty1          90365 non-null  int64
 21  natlty1_txt      90365 non-null  object
 22  gname            90365 non-null  object
 23  nperps           90365 non-null  int64
 24  claimed          90365 non-null  int64
 25  claimmode        90365 non-null  int64
 26  claimmode_txt    90365 non-null  object
 27  weaptype1        90365 non-null  int64
 28  weaptype1_txt    90365 non-null  object
 29  nkill            90365 non-null  int64
 30  nkillus          90365 non-null  int64
 31  nwound           90365 non-null  int64
 32  property         90365 non-null  int64
 33  related          90365 non-null  object
 34  nyear            90365 non-null  int64
dtypes: float64(2), int64(22), object(11)
memory usage: 24.1+ MB
None

In [3]:
oridata = data
data = oridata[['extended','country','region','latitude','longitude','success','suicide','multiple',
               'attacktype1','targtype1','natlty1','gname','nperps','claimed','claimmode','weaptype1',
               'nkill','nkillus','nwound','property','nyear']]
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90365 entries, 0 to 90364
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   extended     90365 non-null  int64
 1   country      90365 non-null  int64
 2   region       90365 non-null  int64
 3   latitude     90365 non-null  float64
 4   longitude    90365 non-null  float64
 5   success      90365 non-null  int64
 6   suicide      90365 non-null  int64
 7   multiple     90365 non-null  int64
 8   attacktype1  90365 non-null  int64
 9   targtype1    90365 non-null  int64
 10  natlty1      90365 non-null  int64
 11  gname        90365 non-null  object
 12  nperps       90365 non-null  int64
 13  claimed      90365 non-null  int64
 14  claimmode    90365 non-null  int64
 15  weaptype1    90365 non-null  int64
 16  nkill        90365 non-null  int64
 17  nkillus      90365 non-null  int64
 18  nwound       90365 non-null  int64
 19  property     90365 non-null  int64
 20  nyear        90365 non-null  int64
dtypes: float64(2), int64(18), object(1)
memory usage: 14.5+ MB

In [4]:
data['groupid'] = pd.factorize(data['gname'])[0]
data.drop(['gname'],axis=1,inplace=True)
# print(data[['groupid','gname']].head(5))

<ipython-input-4-8de6ff124964>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['groupid'] = pd.factorize(data['gname'])[0]
D:\Anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [5]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90365 entries, 0 to 90364
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   extended     90365 non-null  int64
 1   country      90365 non-null  int64
 2   region       90365 non-null  int64
 3   latitude     90365 non-null  float64
 4   longitude    90365 non-null  float64
 5   success      90365 non-null  int64
 6   suicide      90365 non-null  int64
 7   multiple     90365 non-null  int64
 8   attacktype1  90365 non-null  int64
 9   targtype1    90365 non-null  int64
 10  natlty1      90365 non-null  int64
 11  nperps       90365 non-null  int64
 12  claimed      90365 non-null  int64
 13  claimmode    90365 non-null  int64
 14  weaptype1    90365 non-null  int64
 15  nkill        90365 non-null  int64
 16  nkillus      90365 non-null  int64
 17  nwound       90365 non-null  int64
 18  property     90365 non-null  int64
 19  nyear        90365 non-null  int64
 20  groupid      90365 non-null  int64
dtypes: float64(2), int64(19)
memory usage: 14.5 MB
None

In [6]:
data.to_csv("GTD_ForModel_v1.csv",index=False)

------
------

In [2]:
oridata = pd.read_csv("GTD_ForModel_v1.csv")

In [3]:
value_count = oridata['groupid'].value_counts()

In [4]:
type(value_count)
value_count
value_count[333]

145

In [5]:
def gettimes(x,num):
    return value_count[x]<=num

data = oridata.drop(oridata[oridata['groupid'].apply(func=gettimes,num=500)].index)

In [10]:
#data.drop(['multiple','natlty1','nkillus'],axis=1,inplace=True)
data.info()
data.head(10)

new_value_count = data['groupid'].value_counts()
print(new_value_count)
data = data[data['groupid']!=1]
data.info()
new_value_count

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25648 entries, 17 to 90360
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   extended     25648 non-null  int64
 1   country      25648 non-null  int64
 2   region       25648 non-null  int64
 3   latitude     25648 non-null  float64
 4   longitude    25648 non-null  float64
 5   success      25648 non-null  int64
 6   suicide      25648 non-null  int64
 7   attacktype1  25648 non-null  int64
 8   targtype1    25648 non-null  int64
 9   nperps       25648 non-null  int64
 10  claimed      25648 non-null  int64
 11  claimmode    25648 non-null  int64
 12  weaptype1    25648 non-null  int64
 13  nkill        25648 non-null  int64
 14  nwound       25648 non-null  int64
 15  property     25648 non-null  int64
 16  nyear        25648 non-null  int64
 17  groupid      25648 non-null  int64
dtypes: float64(2), int64(16)
memory usage: 3.7 MB
181    6141
703    4626
319    2258
261    1798
457    1721
11     1651
34     1370
303    1289
150    1113
18      910
241     904
469     799
820     558
233     510
Name: groupid, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 25648 entries, 17 to 90360
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   extended     25648 non-null  int64
 1   country      25648 non-null  int64
 2   region       25648 non-null  int64
 3   latitude     25648 non-null  float64
 4   longitude    25648 non-null  float64
 5   success      25648 non-null  int64
 6   suicide      25648 non-null  int64
 7   attacktype1  25648 non-null  int64
 8   targtype1    25648 non-null  int64
 9   nperps       25648 non-null  int64
 10  claimed      25648 non-null  int64
 11  claimmode    25648 non-null  int64
 12  weaptype1    25648 non-null  int64
 13  nkill        25648 non-null  int64
 14  nwound       25648 non-null  int64
 15  property     25648 non-null  int64
 16  nyear        25648 non-null  int64
 17  groupid      25648 non-null  int64
dtypes: float64(2), int64(16)
memory usage: 3.7 MB

181    6141
703    4626
319    2258
261    1798
457    1721
11     1651
34     1370
303    1289
150    1113
18      910
241     904
469     799
820     558
233     510
Name: groupid, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
def get_train_test_data(data,y_name,test_size):
    all_x = data.drop([y_name],axis=1)
    all_y = data[y_name]
    train_X,test_X,train_Y,test_Y = train_test_split(all_x,all_y,random_state=1,test_size=test_size)
    return train_X,train_Y,test_X,test_Y

In [12]:
train_X,train_Y,test_X,test_Y = get_train_test_data(data,'groupid',0.2)

In [13]:
print(train_X.info())
print(train_Y)
print(test_X.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20518 entries, 27501 to 2986
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   extended     20518 non-null  int64
 1   country      20518 non-null  int64
 2   region       20518 non-null  int64
 3   latitude     20518 non-null  float64
 4   longitude    20518 non-null  float64
 5   success      20518 non-null  int64
 6   suicide      20518 non-null  int64
 7   attacktype1  20518 non-null  int64
 8   targtype1    20518 non-null  int64
 9   nperps       20518 non-null  int64
 10  claimed      20518 non-null  int64
 11  claimmode    20518 non-null  int64
 12  weaptype1    20518 non-null  int64
 13  nkill        20518 non-null  int64
 14  nwound       20518 non-null  int64
 15  property     20518 non-null  int64
 16  nyear        20518 non-null  int64
dtypes: float64(2), int64(15)
memory usage: 2.8 MB
None
27501    150
45182    319
74718    150
66520    181
23612     18
        ...
47808    319
66409    457
24154    181
51502    319
2986      11
Name: groupid, Length: 20518, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5130 entries, 77455 to 52618
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   extended     5130 non-null   int64
 1   country      5130 non-null   int64
 2   region       5130 non-null   int64
 3   latitude     5130 non-null   float64
 4   longitude    5130 non-null   float64
 5   success      5130 non-null   int64
 6   suicide      5130 non-null   int64
 7   attacktype1  5130 non-null   int64
 8   targtype1    5130 non-null   int64
 9   nperps       5130 non-null   int64
 10  claimed      5130 non-null   int64
 11  claimmode    5130 non-null   int64
 12  weaptype1    5130 non-null   int64
 13  nkill        5130 non-null   int64
 14  nwound       5130 non-null   int64
 15  property     5130 non-null   int64
 16  nyear        5130 non-null   int64
dtypes: float64(2), int64(15)
memory usage: 721.4 KB
None

In [ ]:
# 这一部分因为数据集比较大，运行不出来，先不要运行
# from sklearn.model_selection import cross_val_score
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.svm import SVC
# from sklearn.ensemble import AdaBoostClassifier

# model_rdf = RandomForestClassifier(n_estimators=500,warm_start=True,max_features='sqrt',max_depth=20,
#                                min_samples_split=3,min_samples_leaf=2,n_jobs=10,verbose=0)
# model_ada = AdaBoostClassifier(n_estimators=500,learning_rate=0.1)
# model_svm = SVC(kernel='linear',C=0.025)

# score = cross_val_score(model_svm,train_X,train_Y,cv=5,scoring='accuracy')   
# print('accuracy:'+str(score)+'\n')

# def cross_valuation(model,X,Y):
#     print("The model:")
#     score = cross_val_score(model,X,Y,cv=10,scoring='accuracy')
#     print('accuracy:'+str(score)+'\n')
#     accuracy = str(score)
#     score = cross_val_score(model,X,Y,cv=10,scoring='f1')
#     print('f1 score:'+str(score)+'\n')
#     f1 = str(score)
#     #return accuracy,f1

# cross_valuation(model_rdf,train_X,train_Y)
# cross_valuation(model_ada,train_X,train_Y)
# cross_valuation(model_svm,train_X,train_Y)

In [14]:
from sklearn.metrics import accuracy_score
from sklearn import model_selection
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

In [15]:
from sklearn.ensemble import RandomForestClassifier
model_rdf = RandomForestClassifier(n_estimators=500,warm_start=True,max_features='sqrt',max_depth=20,
                               min_samples_split=3,min_samples_leaf=2,n_jobs=15,verbose=0)
model_rdf.fit(train_X,train_Y)
predicts = model_rdf.predict(test_X)
accuracy = accuracy_score(test_Y,predicts)
print("Accuracy:",accuracy)
feature_imp_sorted_rf = pd.DataFrame({'feature':list(train_X),
                                        'importance':model_rdf.feature_importances_}).sort_values('importance',ascending=False)
feature_imp_sorted_rf.head(10)

Accuracy: 0.9730994152046784

        feature  importance
1       country    0.281814
4     longitude    0.214908
3      latitude    0.205207
2        region    0.165410
16        nyear    0.067442
11    claimmode    0.010961
8     targtype1    0.010624
13        nkill    0.009132
7   attacktype1    0.006527
9        nperps    0.005637

In [16]:
# rf_est = RandomForestClassifier(random_state=0,max_features='sqrt')
# rf_param_grid = {'n_estimators':[300,400,500],'min_samples_split':[2,3,5],'max_depth':[5,15]}
# rf_grid = model_selection.GridSearchCV(rf_est,rf_param_grid,n_jobs=20,cv=5,verbose=0)
# rf_grid.fit(train_X,train_Y)
# predicts = rf_grid.predict(test_X)
# accuracy = accuracy_score(test_Y,predicts)
# print(accuracy)

0.8981167863433139

In [12]:
from sklearn.ensemble import AdaBoostClassifier
model_ada = AdaBoostClassifier(n_estimators=500)
model_ada.fit(train_X,train_Y)
predicts = model_ada.predict(test_X)
accuracy = accuracy_score(test_Y,predicts)
print(accuracy)

0.7094567131824956

In [ ]:
# from sklearn.svm import SVC
# model_svm = SVC(kernel='linear',C=0.025)
# model_svm.fit(train_X,train_Y)
# predicts = model_svm.predict(test_X)
# accuracy = accuracy_score(test_Y,predicts)
# print(accuracy)

In [16]:
from xgboost import XGBClassifier
 
model_gbm = XGBClassifier(n_estimators=500,max_depth=15,nthread=-1)
model_gbm.fit(train_X,train_Y)
predicts = model_gbm.predict(test_X)
accuracy = accuracy_score(test_Y,predicts)
print("Accuracy:",accuracy)
feature_imp_sorted_xg = pd.DataFrame({'feature':list(train_X),
                                        'importance':model_gbm.feature_importances_}).sort_values('importance',ascending=False)
feature_imp_sorted_xg.head(10)

Accuracy: 0.9734892787524366

      feature  importance
2      region    0.524877
1     country    0.400950
4   longitude    0.022683
3    latitude    0.020211
16      nyear    0.014636
6     suicide    0.003892
11  claimmode    0.002602
10    claimed    0.002262
9      nperps    0.001511
5     success    0.001076

In [ ]:
# xgb_est = XGBClassifier()
# xgb_param_grid = {'n_estimators':[300,500],'max_depth':[15],'min_child_weight': [3,5,10]}
# xgb_grid = model_selection.GridSearchCV(xgb_est,xgb_param_grid,n_jobs=20,cv=5,verbose=0)
# xgb_grid.fit(train_X,train_Y)
# predicts = xgb_grid.predict(test_X)
# accuracy = accuracy_score(test_Y,predicts)
# print(accuracy)

D:\Anaconda3\lib\site-packages\joblib\externals\loky\process_executor.py:688: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  warnings.warn(

In [14]:

data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73810 entries, 1 to 90364
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   extended     73810 non-null  int64
 1   country      73810 non-null  int64
 2   region       73810 non-null  int64
 3   latitude     73810 non-null  float64
 4   longitude    73810 non-null  float64
 5   success      73810 non-null  int64
 6   suicide      73810 non-null  int64
 7   attacktype1  73810 non-null  int64
 8   targtype1    73810 non-null  int64
 9   nperps       73810 non-null  int64
 10  claimed      73810 non-null  int64
 11  claimmode    73810 non-null  int64
 12  weaptype1    73810 non-null  int64
 13  nkill        73810 non-null  int64
 14  nwound       73810 non-null  int64
 15  property     73810 non-null  int64
 16  nyear        73810 non-null  int64
 17  groupid      73810 non-null  int64
dtypes: float64(2), int64(16)
memory usage: 10.7 MB